@tailwind base;
@tailwind components;
@tailwind utilities;



.cross {
  display: inline;
  color: #555555;
}

.cross:hover {
  color: black;
}

.list-three-dots {
  display: inline;
  color: #555555;
}

.list-three-dots:hover {
  color: black;
}



.card .pencil-wrapper{
    visibility: hidden;
}


.card:hover .pencil-wrapper{
    visibility: visible;
}

.pencil-wrapper {
  visibility: hidden;
}

.card-pencil {
  display: inline; 
  color: #555555;
}

