@tailwind base;
@tailwind components;
@tailwind utilities;



.cross {
  display: inline;
  color: #555555;
}

.cross:hover {
  color: black;
}

.list-three-dots {
  display: inline;
  color: #555555;
}

.list-three-dots:hover {
  color: black;
}


